<form class="mb-3 register" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <h1 class="register-title">Eröffne ein Konto</h1>
  <div class="form-group inputDiv">
    <label class="label" for="name">Username:</label>
    <input type="text" formControlName="userName" class="form-control" id="name" placeholder="Max1234"  required/>
  </div>
  <div class="form-group inputDiv">
    <label class="label" for="email">Email:</label>
    <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="max.miller@gmail.com"  required/>
    <small id="emailHelp" class="form-text text-muted">Wir werden deine Email niemals mit Dritten teilen.</small>
  </div>
  <div class="form-group inputDiv">
    <label class="label" for="password">Passwort:</label>
    <input type="password" class="form-control" id="password" placeholder="**********" formControlName="password" required/>
    <small id="passwordHelp" class="form-text text-muted">Mindestens 8 Charaktere. Mindestens ein Gross- und Kleinbuchstabe, eine Zahl und ein Spezialcharkter.</small>
  </div>
  <div class="form-group inputDiv">
    <label class="label" for="confirmPassword">Bestätige dein Passwort:</label>
    <input type="password" class="form-control" id="confirmPassword" placeholder="**********" formControlName="confirmPassword" required/>
  </div>
  <button class="btn btn-outline-dark register-button" type="submit">Gratis Konto eröffnen</button>
</form>
