<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href="#">M152</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Galerie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="upload" routerLinkActive="active">Upload</a>
      </li>
    </ul>
    <button class="button btn btn-primary"> Anmelden </button>
    <button class="button btn btn-secondary"> Registrieren </button>
  </div>
</nav>
