<h1 class="home-title">Wilkommen zu meiner Bildergalerie!</h1>
<p class="home-text">Im Rahmen des Moduls 152 wurden wir von der Schule beauftragt,
  eine Webseite mit Bildern zu einem spezifischen Thema zu erstellen. <br>
  Da ich meine Haustiere sehr mag, habe ich mich dazu entschieden, diese Bildergalerie ihnen zu widmen.
  Ich hoffe euch gefallen die Bilder von meiner Katze und meinen Zwei Hunden.</p>

<h2 class="home-secondary-title">Funktionalitäten</h2>
<p class="home-text">
  Auf dieser Webseite können Bilder hochgeladen und gelöscht werden.
  Zudem gehört zu jedem Bild ein Titel und eine Ausführliche Beschreibung.
  Diese kann später jederzeit noch angepasst werden. Auserdem werden zu jedem Bild noch verschiedene Metadaten
  angezeigt.
</p>
