.label {
  margin-bottom: 0.5rem;
}

.inputDiv {
  margin-bottom: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

.signin-button {
  margin-left: 10%;
}

.go-to-register-button {
  margin-left: 1rem;
}

.signin-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: xxx-large;
  color: #162539;
  font-weight: normal;
  text-align: center;
}
