<form class="form">
  <div class="form-group">
    <label for="titel">Titel des Bildes</label>
    <input type="text" class="form-control" id="titel" placeholder="Hund beim Essen">
  </div>
  <div class="form-group">
    <label for="beschreibung">Eine kurze Beschreibung des Bildes</label>
    <textarea class="form-control" id="beschreibung" rows="3" placeholder="Hier seht ihr meinen Hund, wie er sein leckeres essen geniesst."></textarea>
  </div>
  <div class="form-group">
    <label for="datei">Bild (.jpg oder .png)</label>
    <input type="file" class="form-control-file" id="datei" accept="image/jpeg, image/png">
  </div>
</form>
