<form class="form" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <h1 class="upload-title">Bild hochladen</h1>
  <div class="form-group">
    <label for="titel">Titel des Bildes</label>
    <input type="text" class="form-control" id="titel" placeholder="Hund beim Essen" formControlName="title">
  </div>
  <div class="form-group">
    <label for="beschreibung">Eine kurze Beschreibung des Bildes</label>
    <textarea class="form-control" id="beschreibung" rows="3" placeholder="Hier seht ihr meinen Hund, wie er sein leckeres essen geniesst." formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label for="datei">Bild (.png)</label>
    <input type="file" class="form-control-file" id="datei" accept="image/png image/jpg" formControlName="image" (change)="myChange($event)">
  </div>
  <button class="btn btn-outline-dark register-button" type="submit" >Hochladen</button>
</form>
